.principal{
max-width: 1200px;
margin: auto;
display: flex;
flex-flow: column nowrap;
border-radius: 5px;

}
    .primer-box{
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
    background: #000;
    display: flex;
    flex-flow: column nowrap;
    box-shadow: 0px 10px 10px -4px black;
    border-radius: 5px;

    }
        .div1-primer-box{
            box-sizing: border-box;
            background: #303841;
            margin: 10px;
            padding: 10px;
            display: flex;
            flex-flow: nowrap;
            height: 50px;
            margin-bottom:auto;
            border-radius: 5px;
          

        }
            .primera-column{
            background: #EA5455;
            margin:5px;
            padding: 5px;
            flex: 1 1 auto;
            
            

            }
            .segunda-column{ 
            background: #EA5455;
            margin: 5px;
            margin-left: 20px;
            margin-right: 20px;
            padding: 5px;
            flex: 4 1 auto;

            }
            .tercera-column{
            background: #EA5455;
            margin: 5px;
            padding: 5px;
            flex: 1 1 auto;

            }
         .div2-primer-box{
             background: #FF6F3C;
             margin: 10px;
             padding: 10px;
             border-radius: 5px;

         }
         h2{
             background: #F4F7C5;
             margin: 10px;
             padding: 10px;
         }
    .segundo-box{
        background: #000;
        margin: 10px;
        padding: 10px;
        box-sizing: border-box;
        display: flex;
        box-shadow: 0px 10px 10px -4px black;
        border-radius: 5px;
        
       

    }
        .div1-segundo-box{
            background: #3A4750;
            margin: 10px;
            padding: 10px;
            flex: 2 1 auto;
            display: flex;
            flex-flow: row wrap;
            border-radius: 5px;
        }
            .columna-box2{
                background: #3490DE;
                margin: 10px;
                padding:10px;
                flex: 1 1 40%;
                height: 1px;
            }
                .nav-line{
                    background: #B9D7EA;
                    margin: 10px;
                    padding: 10px;
                    flex: 1 1 100%;
                    height: 1px;

                }
                .segundo-box-dx{
                    background: #D72323;
                    margin: 10px;
                    padding: 10px;
                    flex: 1 1 auto;
                    border-radius: 5px;
                }
                .line-aside{
                    background: #FBC687;
                    margin: 10px;
                    padding: 10px;
                }
    .tercer-box{
        margin: 10px;
        padding: 10px;
        box-sizing: border-box;
        background: #000;
        box-shadow: 0px 10px 10px -4px black;
        border-radius: 5px;

    }
        .h2-footer{
            background: #FFC93C;
            margin: 10px;
            padding: 10px;
        }




